.container
  .header_row
    .header_left
      = link_to :back do
        = image_tag 'back.png', class: 'header_back'
    .header_center Comment
    .header_right

  #comments-page{ data: { post_id: @post.id } }
    .comments
      .comments-container

  -# .comments
  -#   - @comments.each do |comment|
  -#     .comment
  -#       .comment_meta
  -#         .comment_icon
  -#           = image_tag comment.user.avatar_image
  -#         .comment_text
  -#           .comment_author
  -#             = comment.user.account
  -#           .comment_content
  -#             = comment.content

  -# = link_to 'コメントを追加', new_post_comment_path(@post)
