.users
  - users.each do |user|
    .user
      .user_meta
        .user_icon
          = link_to account_path(user) do
            = image_tag user.avatar_image
        .user_name
          = user.account
