.users
  - users.each do |user|
    .user
      = link_to account_path(user) do
        .user_meta
          .user_icon
            = image_tag user.avatar_image
          .user_name
            = user.account
