.profilePage_user_data
  .profilePage_user_content
    .profilePage_user_data_count
      44
    .profilePage_user_data_label
      Posts
  .profilePage_user_content
    .profilePage_user_data_count
      110
    .profilePage_user_data_label
      Followers
  .profilePage_user_content
    .profilePage_user_data_count
      44
    .profilePage_user_data_label
      Following
