@import "variables";
@import "form";
@import "flash";
@import "header";
@import "profile";
@import "common";
// @import 'devise';

// @import "boards";
// @import "tasks";
// @import "task_details";



// @import 'profile';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: $base-bg-color;
  font-size: 16px;
  color: $text-base-color;
  font-family: $font-family;
}

a {
  text-decoration: none;
  color: $text-base-color;
}

.container {
  padding: 0 16px 20px;
  width: 100%;
}
