@import "variables";
@import "form";
@import "flash";
@import "header";
@import "profile";
@import "common";
@import "post";
@import "images";
@import "comment";
// @import 'devise';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: $base-bg-color;
  font-size: 16px;
  color: $text-base-color;
  font-family: $font-family;
}

a {
  text-decoration: none;
  color: $text-base-color;
}

button {
  background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.container {
  padding: 0 16px 20px;
  width: 100%;
}

.hidden {
  display: none;
}

.enable {
  color: $btn-enabled-color;
  cursor: pointer;
}
