@import "variables";

.top-image {
  width: 100%;
}

.form-area {
  margin-top: 35px;
}

.field {
  & + .field {
    margin-top: 20px;
  }
}

input,
select {
  &.text {
    width: 100%;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid #9e9e9e;
  }
}

label {
  font-size: 11px;
  color: #979797;
  opacity: 0.9;
}

textarea {
  width: 100%;
  padding: 8px 0px;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  resize: vertical;
  font-family: $font-family;
  height: 30px;
  overflow: hidden;
}

textarea::placeholder {
  color: #bdbdbd;
  opacity: 0.9;
}

.btn-primary {
  background-color: #ffe600;
  text-align: center;
  border: none;
  padding: 14px;
  width: 100%;
  margin-top: 90px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    opacity: 0.9;
  }
}

.link {
  text-align: right;
  margin-top: 16px;

  a {
    color: #cccccc;
    font-size: 11px;
  }
}

// post#new
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.postBtn {
  color: $btn-disabled-color;
  cursor: default;
}
