.top-image {
  width: 100%;
}

.form-area {
  margin-top: 35px;
}

.field {
  & + .field {
    margin-top: 20px;
  }
}

input,
select {
  &.text {
    width: 100%;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid #9e9e9e;
  }
}

label {
  font-size: 11px;
  color: #979797;
  opacity: 0.9;
}

textarea,
trix-editor {
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  min-height: 440px;
  resize: vertical;

  &.sm {
    min-height: 160px;
  }
}

.btn-primary {
  background-color: #ffe600;
  text-align: center;
  border: none;
  padding: 14px;
  width: 100%;
  margin-top: 90px;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    opacity: 0.9;
  }
}

.link {
  text-align: right;
  margin-top: 16px;

  a {
    color: #cccccc;
    font-size: 11px;
  }
}
