.header {
  height: 44px;
}

.header_row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_left {
  width: 17px;

  img {
    width: 100%;
  }
}

.header_center {
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header_right {

}
