@import "variables";

// .header {
//   height: 44px;
// }

.header_row {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 78px;
  background-color: $base-bg-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding: 44px 16px 10px;
}

// .header_row {
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

.header_left {
  width: 17px;

  img {
    width: 100%;
  }
}

.header_center {
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header_right {
  font-size: 16px;
}

.dropbtn {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.loginBtn {
  color: $btn-enabled-color;
}
