@import "variables";

.dropbtn {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.loginBtn {
  color: $btn-enabled-color;
}

.posts {
  margin-top: 39px;
}

.post {
  margin: 0 auto;
  max-width: 600px;

  & + .post {
    margin-top: 36px;
  }
}

.post_meta {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
}

.post_icon {
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.post_info {

}

.post_author {
  font-size: 14px;
  font-weight: bold;
}

.post_time-ago {
  font-size: 12px;
  color: $text-light-color;
}

.post_images {
  margin-top: 11px;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 7px;
  width: 100%;
  aspect-ratio: 4 / 3;
  max-width: 100%;
  overflow: hidden;
}

.image-large {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-small.top,
.image-small.bottom {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-small.top {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.image-small.bottom {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.post_actions {
  margin-top: 12px;
  display: flex;
  justify-content: left;
  gap: 14px;
}

.post_like {
  width: 16px;
}

.post_comment {
  width: 16px;
}

.post_share {
  width: 16px;
}

.post_liked-by {
  margin-top: 8px;
  font-size: 12px;
  font-weight: bold;
}

.post_text {
  display: flex;
  justify-content: left;
  gap: 8px
}

.post_author2 {
  font-size: 12px;
  font-weight: bold;
}

.post_content {
  font-size: 12px;
}

// new
.cancelBtn {
  color: $btn-enabled-color;
}

.post_author {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  gap: 18px;
  justify-content: left;
  align-items: center;
}

.author-icon {
  width: 40px;

  img {
    width: 100%;
  }
}

.author-name {
  font-size: 16px;
  font-weight: bold;
}

.albumBtn {
  margin-top: 24px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  background: $base-bg-color;
  border: 1px solid #E0E0E0;

  &:hover {
    cursor: pointer;
  }
}

.album_text {
  font-family: $font-family;
}

#preview-container {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.preview-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  // border: 1px solid #ccc;
  border: none;
}
