@import "variables";

.container.profilePage {

}

.profilePage_header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profilePage_backBtn {
  width: 17px;

  img {
    width: 100%;
  }
}

.profilePage_accountName {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.profilePage_actionBtn {

}

.profilePage_user {
  margin-top: 32px;
}

.profilePage_user_img {
  width: 84px;
  height: 84px;
  margin: 0 auto;
}

.profile-avatar {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.profilePage_user_data {
  margin-top: 43px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.profilePage_user_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66px;
}

.profilePage_user_data_count {
  color: $text-base-color;
}

.profilePage_user_data_label {
  color: $text-light-color;
  font-size: 14px;
}
